@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Armory Store Plovdiv</h1>    

    <img src="~/images/Tactical Weapons.jpg" class="img-fluid mt-4" alt="Armory Store" style="max-height: 400px;" />

</div>
